.outer-wrapper {
  max-width: 800px;
  margin: auto;
  color: #5a5a5a;
  font-family: "Open Sans", Arial, sans-serif;

  .inner-wrapper {
    margin: 10px 5px;

    .header {
      background-color: lightcyan;
      text-align: center;
      padding: 15px 0;

      h1{
        font-weight: normal;
      }
    }

    .cards {
      margin: 10px 0;
      text-align: center;

      img {
        max-width: 50px;
        margin-right: 5px;
      }
    }
    form{

      label {
        margin: 0;
      }
      input[type=text], input[type=month]{
        margin-bottom: 5px;
        width: 100%;
        height: 40px;
      }
      input[type=submit]{
        width: 150px;
        height: 50px;
        margin-top: 20px;
        background-color: lightcyan;
        border: 1px solid #ccefef;
        border-radius: 5px;
      }
      .submit{
        text-align: center;
      }
      .error{
        font-size: 12px;
        color: red;
      }
    }
    .selected{
      border: 2px solid red;
    }
  }
}
